# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.whl

# Virtual environments
.venv/
venv/
.pip_local/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
htmlcov/
.coverage

# Linting
.ruff_cache/

# Pulumi
Pulumi.*.yaml
!Pulumi.yaml

# Go module cache (created by pulumi package gen-sdk)
root/

# Java build artifacts
